body {
  background: #f2f2f2;
  font-family: 'Roboto Mono', monospace; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0d0d;
  max-width: 700px;
  height: 900px;
  margin: 0px auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px 10px #0000004d;
          box-shadow: 0 0 10px 10px #0000004d;
}

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

h1 {
font-size: 30px;
font-weight: 600;
}

h2 {
font-size: 24px;
font-weight: 600;
}

h3 {
font-size: 18px;
font-weight: 600;
}

a {
color: #736156;
text-decoration: none;
}

a:hover, a:focus {
font-weight: 600;
cursor: pointer;
}

.button {
border: none;
display: inline-block;
font-family: inherit;
background: #736156;
color: #f2f2f2;
text-decoration: none;
padding: 8px;
border-radius: 3px;
border-bottom: 3px solid #0000004d;
-webkit-transition: 0.4s opacity;
transition: 0.4s opacity;
}

.button:hover, .button:focus {
cursor: pointer;
opacity: 0.8;
}

.key-words {
color: #f2f2f2;
background-color: #006cda;
padding: 2px;
}

#contact-form {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.contact-form__item {
padding-inline: 8px;
padding-bottom: 16px;
}

.profile-portrait {
float: left;
width: 240px;
margin-right: 16px;
border-radius: 50%;
}

.profile-footer {
clear: both;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding-top: 16px;
}

.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
padding-bottom: 16px;
margin: 0 auto;
}

.page-header__item {
-webkit-box-flex: 0;
    -ms-flex: 0 1 100px;
        flex: 0 1 100px;
}

.page-header__item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

.social-media__icon {
padding-inline: 8px;
max-width: 38px;
}

.navigation-list {
list-style-type: none;
padding: 0;
}

.navigation-list li {
display: inline-block;
margin-left: 8px;
}

.navigation-list__item { 
text-decoration: underline;
}

.navigation-list__item--active {
text-decoration: none;
}

.grid_item {
display: inline-block;
width: 33%;
}

@supports (display: grid) {
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__item {
    color: #0d0d0d;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 8px;
}
  
.grid__item:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 0;
    grid-column-end: 1;
    -ms-grid-row: 1;
    grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}
}

@media all and (max-width: 500px) {
.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

h1 {
  font-size: 22px;
}
}

@media all and (min-width: 500px) and (max-width: 600px) {
.grid {
  -ms-grid-columns: 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

h1 {
  font-size: 26px;
}
}

@media all and (max-width: 600px) {
.grid {
  grid-gap: 10px;
}
.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}
}

@-webkit-keyframes color-change {
0% {
  fill: #f3d643;
}
100% {
  fill: #ffae42;
}
}

@keyframes color-change {
0% {
  fill: #f3d643;
}
100% {
  fill: #ffae42;
}
}

@-webkit-keyframes cloud-move {
from {
  -webkit-transform: translate(150px, 795px);
          transform: translate(150px, 795px);
}
to {
  -webkit-transform: translate(650px, 795px);
          transform: translate(650px, 795px);
}
}

@keyframes cloud-move {
from {
  -webkit-transform: translate(150px, 795px);
          transform: translate(150px, 795px);
}
to {
  -webkit-transform: translate(650px, 795px);
          transform: translate(650px, 795px);
}
}

@-webkit-keyframes cloud-move-reverse {
from {
  -webkit-transform: translate(1700px, 765px);
          transform: translate(1700px, 765px);
}
to {
  -webkit-transform: translate(1200px, 765px);
          transform: translate(1200px, 765px);
}
}

@keyframes cloud-move-reverse {
from {
  -webkit-transform: translate(1700px, 765px);
          transform: translate(1700px, 765px);
}
to {
  -webkit-transform: translate(1200px, 765px);
          transform: translate(1200px, 765px);
}
}

.sun {
-webkit-animation: 4s color-change infinite alternate linear;
        animation: 4s color-change infinite alternate linear;
}

.cloud-back {
-webkit-animation: 12s cloud-move infinite alternate linear;
        animation: 12s cloud-move infinite alternate linear;
}

.cloud-front {
-webkit-animation: 12s cloud-move-reverse infinite alternate linear;
        animation: 12s cloud-move-reverse infinite alternate linear;
}

.svg-content {
  max-width: 700px;
}

.svg-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 733px;
  z-index: -1;
}
