:root {
  --black: #0d0d0d;
  --white: #f2f2f2;
  --brown: #736156;
  --shadow: #0000004d;
}

body {
    background: var(--white);
    font-family: 'Roboto Mono', monospace; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--black);
    max-width: 700px;
    height: 900px;
    margin: 0px auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 10px var(--shadow);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}
  
h2 {
  font-size: 24px;
  font-weight: 600;
}
  
h3 {
  font-size: 18px;
  font-weight: 600;
}

a {
  color: var(--brown);
  text-decoration: none;
}
  
a:hover, a:focus {
  font-weight: 600;
  cursor: pointer;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background: var(--brown);
  color: var(--white);
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 3px solid var(--shadow);
  transition: 0.4s opacity;
}

.button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.key-words {
  color: var(--white);
  background-color: #006cda;
  padding: 2px;
}

#contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form__item {
  padding-inline: 8px;
  padding-bottom: 16px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 16px;
  border-radius: 50%;
}

.profile-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.page-header {
  display: flex;
  width: 100%;
  padding-bottom: 16px;
  margin: 0 auto;
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.social-media__icon {
  padding-inline: 8px;
  width: 6%;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 8px;
}
  
.navigation-list__item { 
  text-decoration: underline;
}

.navigation-list__item--active {
  text-decoration: none;
}

.grid_item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    justify-content: center;
  }

  .grid__item {
      color: inherit;
      width: auto;
      min-height: auto;
      margin: 0;
      padding: 8px;
  }
    
  .grid__item:first-child {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }

  h1 {
    font-size: 26px;
  }
}

@media all and (max-width: 600px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(150px, 795px);
  }
  to {
    transform: translate(650px, 795px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(1700px, 765px);
  }
  to {
    transform: translate(1200px, 765px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-back {
  animation: 12s cloud-move infinite alternate linear;
}

.cloud-front {
  animation: 12s cloud-move-reverse infinite alternate linear;
}

.svg-content {
  width: 106.1%;
}
 